<h1 class="font-weight-light">Trouvez votre evenement !</h1>
<p class="lead"></p>

<% @events.each do |one_event| %><br>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" url="<%event_path(one_event.id)%>" src="https://images.unsplash.com/photo-1505373877841-8d25f7d46678?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=100&q=60/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= one_event.title  %></h5>
      <p class="card-text"><%= one_event.description  %></p>
      <a class="btn btn-primary" <%= link_to "En savoir plus", event_path(one_event.id)%></a>
    </div>
  </div>
  <br />

 <% end %>

